.container {
  margin: 0 auto;
  max-width: 600px;
}

.todo-box {
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.todo-x-btn {
  color: #fff;
  padding: 5px 9px;
  background-color: #3182f6;
  border-radius: 50%;
}

.form-box {
  display: flex;
}

.form-input,
.form-input:focus {
  flex: 1;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
  margin-right: 10px;
}

.btn {
  color: #fff;
  padding: 5px 9px;
  background-color: #3182f6;
  border-radius: 4px;
}

.btn:active {
  transform: scale(1.1);
}

